<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorProduct.Web</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/addproduct" onclick="@HandleCreateClick" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Create Product
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/editproduct/d9ee4d98-d4ac-410f-ad88-22cfae7227d1"
                     onclick="@HandleEditClick"
                     Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Edit Product
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    @inject NavigationManager NavigationManager;

    private void HandleCreateClick()
    {
        NavigationManager.NavigateTo("addproduct", true);
    }

    private void HandleEditClick()
    {
        NavigationManager.NavigateTo("editproduct/d9ee4d98-d4ac-410f-ad88-22cfae7227d1", true);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
